.ultimas-noticias{
    padding-left: 31px;
    margin-right: 9px;
}
.ultimas-noticias .titulo{
    margin-bottom: 19px;
    border-bottom: 1px solid ;
    padding-bottom: 15px;
    margin-top: 45px;
}